
[submodule "HL7Interface/SuperSocket.ClientEngine"]
	path = HL7Interface/SuperSocket.ClientEngine
	url = https://github.com/kerryjiang/SuperSocket.ClientEngine.git
[submodule "HL7Interface/SuperSocket.ProtoBase"]
	path = HL7Interface/SuperSocket.ProtoBase
	url = https://github.com/kerryjiang/SuperSocket.ProtoBase.git
[submodule "HL7Interface/SuperSocket"]
	path = HL7Interface/SuperSocket
	url = https://github.com/kerryjiang/SuperSocket.git
