[submodule "SuperSocket.ClientEngine"]
	path = SuperSocket.ClientEngine
	url = https://github.com/kerryjiang/SuperSocket.ClientEngine.git
[submodule "SuperSocket.ProtoBase"]
	path = SuperSocket.ProtoBase
	url = https://github.com/kerryjiang/SuperSocket.ProtoBase.git
[submodule "SuperSocket"]
	path = SuperSocket
	url = https://github.com/kerryjiang/SuperSocket.git
