<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="HL7Interface.Configuration.HL7SocketServiceConfig, HL7Interface" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="HandleEachMessageAsEvent" value="true" />
    <add key="ConfigurationFlavour" value="Test" />
  </appSettings>
  <superSocket>
    <servers>
      <server name="BaseHL7Interface" serverType="HL7Interface.ServerProtocol.HL7Server, HL7Interface" ip="127.0.0.1" port="50060" disableSessionSnapshot="true" receiveBufferSize="65535" maxRequestLength="65535">
      </server>
    </servers>
    <protocolConfig name="myProtocol" protocolName="HL7Protocol" MaxAckRetriesNumber="4" MaxResponseRetriesNumber="4" AckTimeout="1000" ResponseTimeout="5000" IsAckBlocking="true" IsResponseBlocking="true" IsAckRequired="true" RetryOnNack="true"></protocolConfig>
    <!--<commandAssemblies>
      <add assembly="HL7Interface"></add>
    </commandAssemblies>-->
  </superSocket>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
